[Desktop Entry]
Name=Hexxagon
Comment=Clone of Hexxagon
Comment[pl]=Klon Hexxagona
Exec=hexxagon
Terminal=false
Icon=hexxagon
Type=Application
Categories=Game;BoardGame;GTK;
# vi: encoding=utf-8
